body {
    margin: 0;
    height: 100vh;
}

.page {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.navbar{
    display:flex;
    width: 100%;
    background-image: linear-gradient(rgb(41, 41, 41), rgb(44, 44, 44));
    /* background-color: rgb(41, 41, 41); */
    border-bottom: 0.5px solid rgb(5, 5, 5);
    height: 3%;
    min-height: 2.5em;
    font-family: monospace;
    font-weight: normal;
    justify-content: space-between;
    flex: 1;
    margin: 0;
}

.profile{
    display: flex;
    flex: 1;
    height: 100%;
    max-width: 4%;
    /* align-self: flex-start; */
}
.profile img{
    height: 100%;
    width: auto;
    border-radius: 50%;
    border: 1.2px solid rgb(17, 17, 17);

}

.desktop {
    height: 100%;
    margin: 0;
    padding: 1%;
    background-image: url(/img/flower.jpg);
    background-size: cover;
    flex: 100;
}

#window {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    border: 4px solid rgb(173, 173, 173);
}
.buttons{
    height: 100%;
    display: flex;
    flex: 3;
    justify-content: center;
    /* align-items: center; */
}

.button{
    height: 100%;
    outline: none;
    background-color: rgba(255, 255, 255, 0);
    color: rgb(245, 245, 245);
    border: 2px solid #999999; /* Green */
    border-radius: 8px;
    display: flex;
    
    align-items: center;
    padding: 0px 3px;
    margin: 1px 3px;
}

.button:hover{
    outline: none;
    background-color: #999999;
    color: rgb(0, 0, 0);
    border: 2px solid #999999; /* Green */
    border-radius: 8px;
}

.windowButtons {
  height: 100%;
  display: flex;
  /* align-self: flex-end; */
  flex: 1;
}
  
.windowButtons:hover a {
  visibility: visible;
}
 
.close {
  background: #ff5c5c;
  font-size: 9pt;
  line-height: 50%;
  width: 11px;
  height: 11px;
  border: 1px solid #e33e41;
  border-radius: 50%;
  display: inline-block;
}
 
.close:active {
  background: #c14645;
  border: 1px solid #b03537;
}

.close:active .closebutton {
  color: #4e0002;
}

.closebutton {
  color: #820005;
  visibility: hidden;
  cursor: default;
}

.minimize {
  background: #ffbd4c;
  font-size: 9pt;
  line-height: 50%;
  margin-left: 4px;
  width: 11px;
  height: 11px;
  border: 1px solid #e09e3e;
  border-radius: 50%;
  display: inline-block;
}

.minimize:active {
  background: #c08e38;
  border: 1px solid #af7c33;
}

.minimize:active .minimizebutton {
  color: #5a2607;
}

.minimizebutton {
  color: #9a5518;
  visibility: hidden;
  cursor: default;
}

.zoom {
  background: #00ca56;
  font-size: 9pt;
  line-height: 50%;
  margin-left: 6px;
  width: 11px;
  height: 11px;
  border: 1px solid #14ae46;
  border-radius: 50%;
  display: inline-block;
}

.zoom:active {
  background: #029740;
  border: 1px solid #128435;
}

.zoom:active .zoombutton {
  color: #003107;
}

.zoombutton {
  color: #006519;
  visibility: hidden;
  cursor: default;
}

#console {
    background-color: rgba(33, 39, 53, 0.849);
    overflow: auto;
    overflow-wrap: normal;
    height: 90%;
    width: 100%;
    margin: 0;
    display: block;
    flex: 100;
    
}
#console p{
    color: white;
    font-family: monospace;
    margin: 0 3px;
}

.bracket{
    color: rgb(253, 55, 115);
    font-weight: bold;
}

.user{
    color: rgb(255, 231, 93);
    font-weight: bold;
}

.at{
    color: rgb(142, 211, 102);
    font-weight: bold;
}

.design3d{
    color: rgb(91, 139, 202);
    font-weight: bold;
}

.directory{
    color: rgb(182, 19, 52);
    font-weight: bold;
}

#cursor{
    color: white;
}

#links{
    display: none;
    width: 100%;
    height: 50%;
    text-align: center;
}

.item{
    padding: 2%;
    height: 32%;
    width: 32%;
    display: none;
}

.img-fluid{
    max-height:100%;
    max-width: 100%; 
    object-fit: cover;
}

#renderCanvas{
    display: none;
    width: 100%;
    height: 100%;
    background: transparent;
    outline: none;
}

#canvas3D{
    display: none;
    width: 100%;
    height: 90%;
    background: transparent;
}

#slider{
    position: absolute;
    width: 100%;
    text-align: center;
    margin: 0;
    top: 90%;
}

#slider input{
    width: 80%;
}

.links{
    color: rgb(0, 183, 255);
}

.bold{
    font-weight: bold;
}

@media screen and (min-width: 1101px) {
    .item{
        height: 30vh;
        width: 13vw;
        padding: 1vh;
    }
    .navbar {
        min-height: 3em;
    }
    #topbar{
        display: none;
    }
}
  
@media screen and (max-width: 1100px) {
    .item{
        height: 32%;
        width: 32%;
    }
    #topbar{
        display: none;
    }
}

@media screen and (min-width: 601px) {
    #console p {
        font-size: 0.95rem;
    }
    .navbar {
        font-size: 1rem;
        flex: 1.5;
    }
    #topbar{
        display: none;
    }
}
  
@media screen and (max-width: 600px) {
    #console p {
        font-size: 0.9rem;
    }
    #consolebar {
        display: none;
    }
    #topbar{
        display: flex;
        min-height: 10%;
        flex: 1;
    }
    .desktop{
        padding: 0;
        height: 90%;
    }
    .profile{
        display: none;
    }
}


@media screen and (max-width: 500px) {
    #console p {
        font-size: 0.7rem;
    }
    #consolebar {
        display: none;
    }
    #window {
        border: none;
    }
    #topbar{
        display: flex;
        flex: 1;
        min-height: 4%;
        font-size: 0.5em;
    }
    .desktop{
        padding: 0;
        height: 96%;
    }
    .profile{
        display: none;
    }
    .button{
        padding: 5px 3px;
    }

}

#slider input {
  -webkit-appearance: none;
  width: 80%;
  height: 1em;
  background: #5a5a5a;
  outline: none;
  opacity: 1;
  -webkit-transition: .2s;
  transition: opacity .2s;
  border-radius: 1rem;
}
  
/* #slider input:hover {
  opacity: 1;
} */

#slider input::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: #b1afaf;
  cursor: pointer;
  border-radius: 0.2rem;
}

