body {
    margin: 0;
    height: 100vh;
}

.page {
    height: 100vh;
    width: 100%;
    display:flex;
    flex-direction:column;
}

.navbar{
    display:block;
    background-color: rgb(41, 41, 41);
    height: 3%;
    min-height: 3em;
}

.desktop {
    height: 95.5%;
    margin: 0;
    background-image: url(/img/flower.jpg);
    display: flex;
    flex: 1;
}

#window {
    height: 100%;
    width: 100%;
}

.button{
    text-align: center;
    height: 100%;
    outline: none;
    background-color: rgba(255, 255, 255, 0);
    color: rgb(245, 245, 245);
    border: 2px solid #999999; /* Green */
    border-radius: 8px;
}

.button:hover{
    outline: none;
    background-color: #999999;
    color: rgb(0, 0, 0);
    border: 2px solid #999999; /* Green */
    border-radius: 8px;
}

#console {
    background-color: rgba(33, 39, 53, 0.849);
    overflow: auto;
    height: 95vh;
    width: 100%;
    margin: 0;
    
}
#console p{
    color: white;
    font-family: monospace;
}

.bracket{
    color: rgb(253, 55, 115);
    font-weight: bold;
}

.user{
    color: rgb(255, 231, 93);
    font-weight: bold;
}

.at{
    color: rgb(142, 211, 102);
    font-weight: bold;
}

.design3d{
    color: rgb(91, 139, 202);
    font-weight: bold;
}

.directory{
    color: rgb(182, 19, 52);
    font-weight: bold;
}

#cursor{
    color: white;
}

#links{
    display: none;
    width: 100%;
    height: 50%;
    text-align: center;
}

.item{
    padding: 2%;
    height: 32%;
    width: 32%;
    display: none;
}

.img-fluid{
    max-height:100%;
    max-width: 100%; 
    object-fit: cover;
}

#renderCanvas{
    display: none;
    width: 100%;
    height: 100%;
    background: transparent;
    outline: none;
}

#canvas3D{
    display: none;
    width: 100%;
    height: 90%;
    background: transparent;
}

#slider{
    width: 100%;
}

@media screen and (min-width: 1101px) {
    .item{
        height: 30vh;
        width: 13vw;
        padding: 1vh;
    }
}
  
@media screen and (max-width: 1100px) {
    .item{
        height: 32%;
        width: 32%;
    }
}

@media screen and (min-width: 601px) {
    #console p {
        font-size: 1rem;
    }
}
  
@media screen and (max-width: 600px) {
    #console p {
        font-size: 0.7rem;
    }
}

